@page "/GestionarTienda"
@using BlazorEFUdemy.Modelo
@using BlazorEFUdemy.Servicios
@inject IServicioTienda servicioTienda
<h3>Gestionar Tienda:</h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/NuevaTienda" class="btn btn-primary m-1">Nueva Tienda</a>
    </div>
</div>

@if (listaTiendas.Count == 0)
{
    <p class="text-danger"> No hay tiendas disponibles</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre</strong></th>
                <th><strong>Dirección</strong></th>
                <th><strong>Sitio Web</strong></th>
                <th><strong>Fecha de Inauguración</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tienda tienda in listaTiendas)
            {
                <tr>
                    <td>@tienda.Nombre</td>
                    <td>@tienda.Direccion</td>
                    <td>@tienda.SitioWeb</td>
                    <td>@tienda.FechaApertura.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="@($"ModificarTienda/{tienda.Id}")" class="btn btn-primary m-1">Modificar</a>
                    </td>
                    <td>
                        <input type="submit" class="btn btn-danger" value="Eliminar" @onclick="(() => OnDelete(tienda.Id))" />
                    </td>
                    <td>
                        <a href="@($"GestionarProductoTienda/{tienda.Id}")" class="btn btn-info m-1">Gestionar Productos</a>
                    </td>
                    <td>
                        <a href="@($"GestionarVentas/{tienda.Id}")" class="btn btn-success m-1">Gestionar Ventas</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@if (Show)
{
    <div class="modal" tabindex="-1" role="dialog" style="display: @(Show ? "block" : "none")">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso</h5>
                </div>
                <div class="modal-body">
                    <p>¿ Estas seguro que deseas continuar ? Esta accion es irreversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="@(()=> DarDeBaja())">OK</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="@(()=> this.Show = false)">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    List<Tienda> listaTiendas = new List<Tienda>();

    public bool Show { get; set; } = false;
    int idTiendaAux = -1;


    private void OnDelete(int idTienda)
    {
        this.Show = true;
        idTiendaAux = idTienda;
    }

    protected override async Task OnInitializedAsync()
    {
        listaTiendas = (await servicioTienda.DameTiendas()).ToList();
    }

    private async void DarDeBaja()
    {
        try
        {
            await servicioTienda.EliminarTienda(idTiendaAux);
            listaTiendas = (await servicioTienda.DameTiendas()).ToList();
            this.Show = false;
            StateHasChanged();
        }
        catch (Exception)
        {
            
            throw;
        }
        
    }
}
