@page "/NuevoProducto"
@using BlazorEFUdemy.Modelo
@using BlazorEFUdemy.Servicios
@inject IServicioProducto servicioProducto
@inject IServicioTipoProducto servicioTipoProducto
@inject NavigationManager navigationManager

<h3>Nuevo Producto</h3>
<EditForm Model="producto" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10 m-2">
            <InputText id="descripcion" class="form-control" placeholder="Descripción del producto"
                       @bind-Value="producto.Descripcion" />
            <ValidationMessage For="@(() => producto.Descripcion)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="precio" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10 m-2">
            <InputNumber id="precio" class="form-control" placeholder="Precio"
                         @bind-Value="producto.Precio" />
            <ValidationMessage For="@(() => producto.Precio)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="tipoProducto" class="col-sm-2 col-form-label">Tipo de Producto</label>
        <div class="col-sm-10 m-2">
            <InputSelect id="tipoProducto" class="form-control" @bind-Value="producto.TipoProductoId">
                @foreach (var tipoProducto in listaTiposProducto)
                {
                    <option value="@tipoProducto.Id">@tipoProducto.Tipo</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => producto.Id)" />
        </div>
    </div>
    <div class="row content">
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
        <div class="col-md-2">
            <input type="button" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
        </div>
    </div>
    <div class="row content">
        @resultado
    </div>
</EditForm>


@code {
    public Producto producto = new Producto();
    public List<TipoProducto> listaTiposProducto { get; set; } = new List<TipoProducto>();
    public string resultado = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        listaTiposProducto = (await servicioTipoProducto.DameTiposProductos()).ToList();
        producto.TipoProductoId = listaTiposProducto.FirstOrDefault()?.Id ?? 0;
        StateHasChanged();
    }

    // Método para validar el formulario utilizando DataAnnotations
    public void HandleValidSubmit()
    {
        // EditContext es una clase que se encarga de validar los datos de un modelo
        var editContent = new EditContext(producto);
        // editContent.Validate() devuelve un booleano que indica si el modelo es válido
        var isValid = editContent.Validate();
        if (!isValid)
        {
            StateHasChanged();
        }
        else
        {
            Guardar();
        }

    }

    protected async Task Guardar()
    {
        try
        {
            if (producto.Descripcion != String.Empty &&
               producto.Precio != 0)
            {
                await servicioProducto.AltaProducto(producto);
                resultado = "Producto creado correctamente";
            }
            navigationManager.NavigateTo("/GestionarProducto");

        }
        catch (Exception ex)
        {
            resultado = "Se produjo un error " + ex.Message;
            StateHasChanged();
        }

    }

    public void Cancelar()
    {
        navigationManager.NavigateTo("/GestionarProducto");
    }
}
